**Print statements**

In [1]:
num1=10
num1

10

In [2]:
print(num1)

10

In [4]:
num1=10
num2=20
print(num1)
print(num2)

10
20

In [7]:
print("hai how -----")

hai how -----

In [8]:
print(10,20,30)

10 20 30

In [9]:
print(10,'and',20)   #10 and 20

10 and 20

In [10]:
print('10 and 20')

10 and 20

In [16]:
num1=10
num2=20
print(num1,num2)
print(10,20)
print(num1,'and',num2)
print(10,'and',20)
print('10 and 20')
print('num1 and num2')

10 20
10 20
10 and 20
10 and 20
10 and 20
num1 and num2

In [24]:
a=10
b=20
c=a+b
# the addition of 10 and 20 is 30
print("the addition of",a,'and',b,'is',c)

the addition of 10 and 20 is 30

In [ ]:
# take your name in a name variable
# take your city in a city variable
# take your age in a age variable
# My name is python, im from hyd and im 10 years old

In [34]:
name="python"
city="hyd"
age=10
print("my name is",name)
print("im from",city)
print("im",age,'years old')
print("my name is",name,',','im from',city,'and im',age,'years old.')

my name is python
im from hyd
im 10 years old
my name is python , im from hyd and im 10 years old.

$Method-2$

**format**

In [39]:
a=10
b=20
c=a+b

# the addition of 10 and 20 is 30.

print("the addition of {} and {} is {}.".format(a,b,c))

the addition of 10 and 20 is 30.

In [45]:
name='python'
city='hyd'
age=10
print("My name is {}, im from {} and im {} years old".format(name,city,age))

My name is python, im from hyd and im 10 years old

$Method-3$

**f-string method**

In [48]:
a=10
b=20
c=a+b

# the addition of 10 and 20 is 30.

print(f"the addition of {a} and {b} is {c}")

the addition of 10 and 20 is 30

In [49]:
name='python'
print(f"my name is {name}")

my name is python

In [50]:
name='python'
city='hyd'
age=10
print(f"My name is {name}, im from {city} and im {age} years old")

My name is python, im from hyd and im 10 years old

$end$

In [57]:
print("hai",end='---->')
print('hello')

hai---->hello

In [63]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

In [67]:
print('rupnath ',end='learning')
print(' python')

rupnath learning python

$sep$

In [72]:
print("hello",'hai',sep=' and ')

print("helo",'and','hai')

hello and hai
helo and hai

In [75]:
print(1,2,3,4,sep='--->')
# 1--->2--->3--->4

1--->2--->3--->4

- format

- fstring

- end

- sep