In [ ]:
Python  Part-1

- Basic python codes

- Packages

- Conditional statements: Vaishnavi

- Try-Exception

- Functions: Banishree
    - Functions with out arguments
    - Functions with argumenrs
    ======= 4 Ravi===========
    - Default paramters
    - return
    - global vs local
    - functions in functiom

- For loop:sohel

- While loop:suman
    
=========== Offline====================
1)Vaishanvi: if-else
2) Banishree: Functions(2)
3) Ravi: Functions(4)
4) Sohel: For loop
5) Suman: while loop
    
    
========== Online ===================
1) Aysuh: if-else
2) Reshma patil: Functions(2)
3) Sathwik: Functions(4)
4) Raghusai: For loop
5) Sarita: while loop
    
    
open jupyter notebook
execute the code at home
explain the same

In [1]:
name='python'

# strings are in red colour: quotes
# variable are in black colour
# keywords are in green colour

In [2]:
type(name)

str

In [3]:
name1="python"
type(name1)

str

In [6]:
print(name)  # careful with print statement

python

In [7]:
print(name1) # careful with print statement

python

In [11]:
name2='i like "python"'
print(name2)
# entire string in single quotes
# python word is in double quotes

i like "python"

In [12]:
name3="i like 'python'"
print(name3)

i like 'python'

$triple-quotes$

- triple quotes meaning is doc string

- if you want to convey the information to user

- In jupyter notebook: markdown
    
- but in another platforms like Vscode, pycharm dont have markdown

- at that place to convey the information we use triple quotes

- that is called docstring

In [ ]:
name4="""python"""

In [13]:
import random
random.randint()

- type

- max

- min

- len

- reversed

- sorted

In [14]:
name='python'
max(name)

# keyword(<variable_name>)
# print(name)
# type(name)

'y'

$ASCII$

- American Standard Code Information Interchange

- A: 65
    
- a: 97

$ord$-$chr$

In [19]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('n')

(112, 121, 116, 104, 110)

In [20]:
max('python')

'y'

In [21]:
min('python')

'h'

In [24]:
chr(112),ord('p')

('p', 112)

In [27]:
str1='123-100'
max(str1)

'3'

In [29]:
ord('-'),ord('3')

(45, 51)

In [35]:
# How many ascii values are existing
for i in range(33,128):
    print(i,'=',chr(i),end=',')

33 = !,34 = ",35 = #,36 = $,37 = %,38 = &,39 = ',40 = (,41 = ),42 = *,43 = +,44 = ,,45 = -,46 = .,47 = /,48 = 0,49 = 1,50 = 2,51 = 3,52 = 4,53 = 5,54 = 6,55 = 7,56 = 8,57 = 9,58 = :,59 = ;,60 = <,61 = =,62 = >,63 = ?,64 = @,65 = A,66 = B,67 = C,68 = D,69 = E,70 = F,71 = G,72 = H,73 = I,74 = J,75 = K,76 = L,77 = M,78 = N,79 = O,80 = P,81 = Q,82 = R,83 = S,84 = T,85 = U,86 = V,87 = W,88 = X,89 = Y,90 = Z,91 = [,92 = \,93 = ],94 = ^,95 = _,96 = `,97 = a,98 = b,99 = c,100 = d,101 = e,102 = f,103 = g,104 = h,105 = i,106 = j,107 = k,108 = l,109 = m,110 = n,111 = o,112 = p,113 = q,114 = r,115 = s,116 = t,117 = u,118 = v,119 = w,120 = x,121 = y,122 = z,123 = {,124 = |,125 = },126 = ~,127 = ,

In [36]:
'Banana'>'banana'   # 'B': 66   'b':99  66>99

False

In [37]:
'Banana'>'BAnana' # a='97'   'A':65

True

$len$

In [39]:
str1='i like python'
len(str1)

13

In [45]:
str2=''   # empty string
len(str2)

0

In [46]:
str3=' '   # it has one space
len(str3)

1

In [47]:
reversed('python')

# <output is stored inherently>
# we use the for loop to get the output

$in$

In [52]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

for i in 'python':
    print(i)

p
y
t
h
o
n

In [54]:
for i in reversed('python'):
    print(i)

n
o
h
t
y
p

In [53]:
reversed('python')

In [56]:
s1='apple'
for i in s1:
    print(i)

a
p
p
l
e

In [57]:
sorted('python') 
# by default reverse=False: acending order
# sorted keyword sort the letters
# [104,110,111,112,116,121]

['h', 'n', 'o', 'p', 't', 'y']

In [61]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [60]:
for i in 'python':
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [ ]:
- type

- max

- min

    - ord

    - chr

- len

- reversed 

- in

- sorted

In [65]:
str1='hello'
str2='python'

# Concatenation
str1+' '+str2

'helo'+'python'

'helopython'

In [66]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [67]:
str1*str2   
# str and str
# non int type and str

TypeError: can't multiply sequence by non-int of type 'str'

In [68]:
3*str2

'pythonpythonpython'

In [69]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
- type

- max

- min

    - ord

    - chr

- len

- reversed 

- in

- sorted

- concatenation

$index$

**In python index start with zero**

In [71]:
str1='python'

#-6  -5  -4   -3    -2   -1
#p   y    t    h    o    n
#0   1    2    3    4    5

str1

'python'

In [81]:
str1[0]  # 'p'
str1[1]  # 'y'
str1[2]  # 't'
str1[3]  # 'h'
str1[4]  # 'o'
str1[5]  # 'n'

for i in range(6):
    print(str1[i])

p
y
t
h
o
n

In [82]:
str1='python'
# I want to iterate this 
# in : i means direct letter
# range : i means number

In [83]:
str1='python'
for i in str1:
    print(i,end=' ')

p y t h o n

In [87]:
str1='python'
for i in range(6):
    print(str1[i],end=' ')

p y t h o n

In [89]:
str1='python'
for i in str1:
    print(i,end=' ')
    
    
str1='python'
for i in range(6):
    print(str1[i],end=' ')

p y t h o n p y t h o n

$in$-$range$

In [ ]:
in=====i== > direct char
range === i number

In [4]:
string1='python'
n=len(string1)
for i in range(n):
    print(i,string1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [8]:
#WAP print the index of a given string
# str1='python'
# o/p:  the index of p is 0
#       the index of y is 1

string1='python'
n=len(string1)
for i in range(n):
    #print(i,string1[i])
    print(f"the postive index of {string1[i]} is {i}")

the postive index of p is 0
the postive index of y is 1
the postive index of t is 2
the postive index of h is 3
the postive index of o is 4
the postive index of n is 5

In [14]:
# o/p:  the negative index of p is -6
#       the negative index of y is -5
# try to print -6  to -1
string1='python'
n=len(string1)
#print(n) # 6   -6  n=== >  -n
for i in range(-n,0):
    #print(i,string1[i])
    print(f"the negative index of {string1[i]} is {i}")

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [ ]:
string1='python'
n=len(string1)
for i in range(n): # 0 to len(string)-1
    print(f"the postive index of {string1[i]} is {i}")
    
for i in range(-n,0): # -len(string) to -1
    print(f"the negative index of {string1[i]} is {i}")

- Postive:  0 to len(string1)-1
    
    - range(0,len(string1))
    
    - start=0   end= last-1 : len(string1)-1
        
    
- Negative: -len(string1) to -1
    
    - range(-len(string1),0)
    
    - start= -len(string1), end= last-1  0-1=-1

In [15]:
s1="hello how are you"
n=len(s1)
for i in range(n):
    print(f"the postive index of {s1[i]} is {i}")

the postive index of h is 0
the postive index of e is 1
the postive index of l is 2
the postive index of l is 3
the postive index of o is 4
the postive index of   is 5
the postive index of h is 6
the postive index of o is 7
the postive index of w is 8
the postive index of   is 9
the postive index of a is 10
the postive index of r is 11
the postive index of e is 12
the postive index of   is 13
the postive index of y is 14
the postive index of o is 15
the postive index of u is 16

In [16]:
for i in range(-n,0): # -len(string) to -1
    print(f"the negative index of {s1[i]} is {i}")

the negative index of h is -17
the negative index of e is -16
the negative index of l is -15
the negative index of l is -14
the negative index of o is -13
the negative index of   is -12
the negative index of h is -11
the negative index of o is -10
the negative index of w is -9
the negative index of   is -8
the negative index of a is -7
the negative index of r is -6
the negative index of e is -5
the negative index of   is -4
the negative index of y is -3
the negative index of o is -2
the negative index of u is -1

In [21]:
# the postive index is 0 and negative index is -6 for p
# the postive index is 1 and negative index is -5 for y
s1='python'
n=len(s1) # 6
for i in range(n):
    print(i,i-n)

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [ ]:
# Task is implemenent the same
# q1) Positive index
# q2) negative index
# q3) posand neg together
# using while loop
# screenshot in whatsapp group

In [23]:
# WAP find the number of 'a' present in a given string
# s1='hello how are you i am good'
# ans: 2

# count=0
# Idea: iterat using for loop
#       get each letter
#       whenever that letter equal to a
#       count= count+1

s1='hello how are you i am good'
count=0
for i in s1:
    if i=='a': # a==a
        count=count+1
        
print("the total number of 'a' are:",count)

the total number of 'a' are: 2

In [26]:
# WAP find the indexes of 'a' present in a given string
# s1='hello how are you i am good'
# ans:10,20

# idea: iterate the loop using range
#       automaticall i becomes number
#       condition
#       print only i

s1='hello how are you i am good'
for i in range(len(s1)):
    if s1[i]=='a':
        print(i)

10
20

In [ ]:
s1='hello how are you i am good'
count=0
for i in s1:
    if i=='a': # a==a
        count=count+1
        
print("the total number of 'a' are:",count)


s1='hello how are you i am good'
for i in range(len(s1)):
    if s1[i]=='a':
        print(i)

In [28]:
#WAP ask the user find the number vowels in a given string
# s1='hello how are you'

s1='hello how are you i am good'
for i in range(len(s1)):
    if s1[i]=='a' or s1[i]=='e' or s1[i]=='i' or s1[i]=='o' or s1[i]=='u':
        print(s1[i])

e
o
o
a
e
o
u
i
a
o
o

In [29]:
s1='hello how are you i am good'
count=0
for i in range(len(s1)):
    if s1[i] in 'aeiou':
        count=count+1
print("the number of vowels are:",count)

the number of vowels are: 11

- Postive index

- Negative index

- Postive and Negative

- Number of 'a'

- Index of  'a'

- Vowels in a given string

In [31]:
# In the above problem vowels are repating
# you need to print only single vowel
s1='abca'
s2=''
for i in s1: 
    if i in 'aeiou': 
        if i not in s2: 
            s2=s2+i     
            
print(len(s2))

1

$mutable$-$immutable$

- Mutable:Change the element by using index operation

In [ ]:
s1='hello'

# can we change 'l' to 'L'
#s1='heLlo'
# will you achieve this by using index operation

In [35]:
s1='hello'
s1[2]='L'

TypeError: 'str' object does not support item assignment

**Note**

- Strings are immutable

In [37]:
l1=[1,2,3]  # 2 to 200
l1[1]=200

In [38]:
l1

[1, 200, 3]

In [ ]:
- Postive index

- Negative index

- Postive and Negative

- Number of 'a'

- Index of 'a'

- Vowels in a given string

- unique vowels

$slice$:

In [1]:
s1='hello how are you'

In [ ]:
-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 h   e   l   l   o       h   o  w      a  r  e     y  o  u
 0   1   2   3   4   5   6   7  8   9  10 11 12 13 14 15 16

In [11]:
s1[11:-11:-1] # ans there
s1[11:-3:-1]  # no anser
s1[11:-11:1]  # no answer
s1[11:-3:1]   # answer  start=11 last=-3-1=-4

're '

In [12]:
-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 h   e   l   l   o       h   o  w      a  r  e     y  o  u
 0   1   2   3   4   5   6   7  8   9  10 11 12 13 14 15 16 
s1[3:-14:2]   # Np  start=3   step=2 +  last= -14-1=-15
s1[3:14:2]    # P
s1[-3:-14:-2] # P
s1[-3:14:-2]  # Np start=-3  step=-2 -ve stop=14+1=15
s1[-3:-14:2]  # NP
s1[3:14:-2]   # NP
s1[3:-14]     # satrt=3  last= -14-1=-15 
s1[3:-14:-1]  # start=3  dire=-ve  last = -14+1=-13

s1[:] 
s1[::1]
s1[::]
s1[::-1]

''

In [15]:
s1[3:-14:-1]

''

In [ ]:
s1[<start>:<stop>]   ---- range(start,stop)
s1[start:stop:step]  ---- range(Start,stop,step)

In [5]:
s1[2:10]   # start=2   dire =+ 1   stop=10-1=9
s1[2:10:2] # start=2   dire= + 2   stop=10-1=9
# 2  4  6  8

'lohw'

In [8]:
s1[11:-3:-1]
# start=11
# dire = -ve  1
# last= -3+1=-2
for i in range(11,-3,-1):print(i,end=' ')

11 10 9 8 7 6 5 4 3 2 1 0 -1 -2

In [9]:
s1[11:-3:-1]

''

In [3]:
for i in range(20,2,3):print(i,end=' ')

In [ ]:
- How to read strings

- Different ways single-quotes doule-quotes triple-quotes

- type

- min

- max

- len

- reversed

- sorted

- ord

- chr

- in

- in vs range

- index

- mutable immutable

- concatenation

- slice

$String$ $methods$

In [16]:
s1='python'
# we stored 'python' in a varaiable s1
# s1 act as package
# every pcakages has some methods
# dir(package)
dir(s1)   # dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$Capitalize$

In [23]:
s1='python'
# s1 act as package
# Capitalize act as method
# help(<package>.<method_name>)
#help(s1.capitalize)
s1.capitalize()

'Python'

In [ ]:
s1='python'
s1.capitalize()

In [ ]:
# keywords  vs methods
len(s1)            capitalize(s1) (wrong)
max(s1)            
min(s1)

s1.capitalize()
# Keywords belongs to entire python
# methods are related to only that data type

$upper$-$lower$-$casefold$

In [24]:
s1='python'
s1.upper()

'PYTHON'

In [26]:
s1='PyThon'
s1.lower()

'python'

In [28]:
s1='PyThon'
s1.casefold()

'python'

$count$

In [29]:
s1='hai hai hai'  # how many a
count=0
for i in s1:
    if i=='a':
        count=count+1
count

3

In [30]:
s1.count('a')

3

In [35]:
s1='ola ola ola'
s1.count('ola')
s1.count('ola ')
s1.count(s1) # s1.count('ola ola ola')

1

In [39]:
s1.count('o')  # 'ola ola ola'
s1.count('o',2) # 'a ola ola'
s1.count('o',2,5) # 'a ol'

1

In [40]:
s1.count('oa')

0

In [43]:
#'ol           a ol              a ola'
# 012
s1.count('o',2,5)

1

$replace$

In [45]:
s1='wellcome'
# replace 'l'  with 'L'
s1.replace('c','C')
s1.replace('l','L')

'weLLcome'

In [55]:
s1='wellllcome'
s1.replace('l','L',2)  # shift+tab

# whenever slash symbol is there
# dont give the argument name

'weLLllcome'

In [56]:
s1='wellllcome'
s1.replace('z','L') # no error
s1.count('z')  # 0  no error

'wellllcome'

In [65]:
#inuput: 'restart'
#output: 'resta$t'

s1='restart'
str1=s1[0]  # Index
str2=s1[1:].replace('r','$') # slice replace
print(str1+str2) # Concatenation

s1[::-1].replace('r','$',1)[::-1]

resta$t

'resta$t'

In [54]:
import random
random.randint(a=20,b=30)

24

- Capitalize/ upper /lower/casefold

- count

- replace

In [2]:
str1='welcome'
str1.replace('l','L')

'weLcome'

$index$

In [3]:
str1='python'
str1.index('y')

1

In [8]:
# Return the lowest index in S where substring sub is found
str2='hai hai hai'
i1=str2.index('a') # first postition: 1
i2=str2.index('a',2) # second-a: already 1 a is over,  
i3=str2.index('a',6)

i1,i2,i3

# Q1) what is the meaning of index: 0  h
# Q2) what is the index method will do : it will find the postion

(1, 5, 9)

In [ ]:
# when I, asking you second 'a'
# we started seeing after first 'a'
# first 'a' index =1
# which index will start to see= 1+1=2

In [ ]:
str2='hai hai hai hai'
i1=str2.index('a')   # 1 
i2=str2.index('a',i1+1)  # 5 
i3=str2.index('a',i2+1)  # 9
i4=str2.index('a',i3+1)

i1,i2,i3

In [ ]:
# i1=str2.index('a')
# i2=str2.index('a',str2.index('a')+1) 
# i3=str2.index('a',str2.index('a',str2.index('a')+1) +1)
# i4=str2.index('a',str2.index('a',str2.index('a',str2.index('a')+1) +1)+1)

In [9]:
i1=str2.index('z')

ValueError: substring not found

In [10]:
for i in range(len(str2)):
    if str2[i]=='a':
        print(i)

1
5
9

**if substring not found**

- replace : same string

- count   : 0

- index   : error

$find$

In [19]:
str2='hai hai hai hai'
i1=str2.find('a')   # 1 
i2=str2.find('a',i1+1)  # 5 
i3=str2.find('a',i2+1)  # 9
i4=str2.find('a',i3+1)
i5=str2.find('a',i4+1)

i1,i2,i3,i4,i5

(1, 5, 9, 13, -1)

**If substring not found find method will return -1**

**if substring not found**

- replace : same string

- count   : 0

- index   : error
    
- find    : -1

In [ ]:
s1='omkar.nallagoni@cognizant.com'
# first name='omkar'
# sur name='nallagoni'
# cname='cognizant'

s2='virat.kohli@rcb.com'
s3='rohit.sharma@mi.com'
s4='lokesh.rahul@lsg.com'
s5='a.b@c'

# idea-1  extrat  . index   s1[0:<.index>]
# ida-2  extract  @ index   s1[.:@]
# idea=3  extract  second . index  s1[@:.]

In [21]:
s3="a.b@c.com"
dot=s3.find('.')
atrate=s3.find('@')
sec_dot=s3.find('.',dot+1)
print(s3[:dot])
print(s3[dot+1:atrate])
print(s3[atrate+1:sec_dot])

a
b
c

In [32]:
s1='virat.kohli@cognizant.com'
# 5 should come automatically
# 5 is an index of '.'
i1=s1.index('.')
i2=s1.index('@')
i3=s1.index('.',i1+1)
fname=s1[:i1]
sname=s1[i1+1:i2]
cname=s1[i2+1:i3]
fname,sname,cname

('virat', 'kohli', 'cognizant')

$lstrip$-$rstrip$-$strip$

In [33]:
str1=' python '
str2=' python'
str3='python '

In [38]:
# str1 has space in both sides
str1.strip(),str1.lstrip(),str1.rstrip()

('python', 'python ', ' python')

In [42]:
str2.strip(),str2.rstrip(),str2.lstrip()
#strip is boss

('python', ' python', 'python')

In [43]:
str2='@@@@python@@@@'
str2.strip('@')

'python'

In [44]:
str1=' python '
str1.strip() # nothing mentioned empty space

'python'

In [46]:
str2='@@@@python$$$$$'
str2.lstrip('@').rstrip('$')

'python'

In [47]:
str2.strip('@$')

'python'

In [ ]:
str1='hello /r/r/r/n/ how are you'
#op  'hello how are you'

$Startswith$-$endswith$

In [52]:
s1='hai how are you'
s1.startswith('hai')

True

In [53]:
s1.startswith(s1)

True

In [58]:
s1='hai how are you'
s1.endswith('you')
s1.endswith(s1)

True

$split$

In [59]:
# It will split the words
# and the words output will be in list 
s1='hai how are you'
s1.split()

['hai', 'how', 'are', 'you']

In [60]:
s2='hai how,are you'
s2.split(',')

['hai how', 'are you']

In [61]:
s3='hai how are you'
s3.split('a')

# h, i how ,re you

['h', 'i how ', 're you']

- capitalize/upper/lower/casefold

- replace 

- count

- index/find

- rstrip/strip/lstrip

- startwith/endswith

- split

In [62]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [66]:
s1='123'
s1.isalpha()

False