In [1]:
num1=10
num2=20
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

the addition of 10 and 20 is 30

$input$

In [5]:
input()

50

'50'

In [24]:
input("enter a number:")

enter a number:5

'5'

In [8]:
input("enter a name:")

enter a name:python

'python'

In [9]:
num1=input("enter a number1:") # num1='100'
num2=input("enter a number2:") # num2='200'
num1+num2                      # '100'+'200'='100200'

enter a number1:100
enter a number2:200

'100200'

In [10]:
'100'+'200'

'100200'

**Note: The default data type from keyboard using input keyword is string**

In [12]:
num1=10   #  inte
type(num1)

num2=input("enter a number:")  # string
type(num2)

enter a number:20

str

In [14]:
num1=int(input("enter a number1:")) # num1=int('100')=100
num2=int(input("enter a number2:")) # num2=int('200')=200
print(f"the addition of {num1} and {num2} is {num1+num2}")

enter a number1:100
enter a number2:200
the addition of 100 and 200 is 300

In [16]:
num1=input("enter a number1:") # num1=int('100')=100
num2=input("enter a number2:") # num2=int('200')=200
add=int(num1)+int(num2)
print(f"the addition of {num1} and {num2} is {add}")

enter a number1:100
enter a number2:200
the addition of 100 and 200 is 300

In [18]:
num1=int(input("enter a number1:")) 
num2=float(input("enter a number2:"))
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter a number1:20
enter a number2:20.5
the addition of 20 and 20.5 is 40.5

In [ ]:
int('20.5') # give the error

$eval$:  evaluate the number automatically based on original data type

In [23]:
num1=eval(input("enter a number1:")) 
num2=eval(input("enter a number2:"))
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter a number1:300
enter a number2:200
the addition of 300 and 200 is 500

In [30]:
# WAP ask the user enter a num1,num2 and num3
# find the average= (num1+num2+num3)/3
n1=eval(input("enter number1:"))
n2=eval(input("enter number2:"))
n3=eval(input("enter number3:"))
add=n1+n2+n3
avg=round(add/3,2)
print(f"the avergae of {n1},{n2} and {n3} is: {avg}")

enter number1:2
enter number2:3
enter number3:5
the avergae of 2,3 and 5 is: 3.33

In [29]:
round(3.3334)

3

In [31]:
# WAP ask the user enter salary
#     ask the user tax percentage
#     calculate total tax to pay
# salary=100000
# tax_per=10
# tax_pay= 100000*10/100=

salary=eval(input("enter the salary:"))
tax_per=eval(input("enter the tax in %:"))
tax_pay=salary*tax_per/100
print(f"the total tax pay is {tax_pay}")

enter the salary:10000
enter the tax in %:10
the total tax pay is 1000.0

In [ ]:
# the conversation between Mother and daughter
# Daughter: Hey mom 
# Mother:  Hello beta!
# Daughter: Did you know governament has immplemented free bus service
# Mother:  Oh really!
# Daughter:  will go to grandmother houes
# Mother:   Yes
# Conductor: show me your identity card
# Mother: No !
# Conductor: Pay the money
# Mother: How much
# Conductor: How many km you want travel
# Mother: 25  <km>
# Mother: how much charge
# Conductor: per km 2rs <charge>
# Mother: 25*2 <total>:km*charge
# Mother: 50rs <total

In [5]:
print("=====Convesration between mother and daughter====================")
input("Daughter:")
input("Mother:")
input("Daughter:")
input("Mother:")
input("Daughter:")
input("Mother:")
print("================= after they reach busstop===================")
input("Conductor:")
input("Mother:")
input("Conductor:")
input("Mother:")
input('Conductor:')
km=eval(input("mother:"))
input("mother")
fare=eval(input("conductor:"))
total=km*fare
print(f"the total charge is {total}")

=====Convesration between mother and daughter====================
Daughter:hey mom
Mother:hey beta
Daughter:did you know
Mother:oh really
Daughter:will go to grand mother house
Mother:yes
================= after they reach busstop===================
Conductor:show me your id
Mother:we for got
Conductor:pay the money
Mother:how much
Conductor:how many km you are travel
mother:25
motherhow much per km
conductor2

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
input("Daughter: ")
input("Mother: ")
input("Daughter: ")
input("Mother: ")
input("Daughter: ")
input("Mother: ")
input("Conductor: ")
input("Mother: ")
input("Conductor: ")
input("Mother: ")
input("Conductor: ")
dis=eval(input("Mother: "))
input("Mother: ")
cost = eval(input("Conductor: "))
input=(f"Conductor : per km {cost}")
tot_cost = dis*cost
input(f"Mother:{cost}*{tot_cost} ")
input("Mother: ")

In [7]:
cost=2
dis=25
tot_cost=dis*cost
input(f"Mother:{cost}*{tot_cost} ")

Mother:2*50 100

'100'

In [9]:
#Why do we use eval

a=eval(input("enter a number1:"))
b=eval(input("enter a number2:"))
a+b

enter a number1:100
enter a number2:200

300

In [ ]:
############ Create your own story ##########
# You went bar 
# you: how much
# bar: 800rs
# you: i have only dollars
# bar: we accept only INR
# you: what should i do
# bar: will convert dollars into rupees
# you: how much one dolar into INR= 80
# you: how many dollars you required=800/80=10
# bar: give me 10 dollars

In [10]:
input("You: ")
total_bill = eval(input("Bar: "))
input("You: ")
input("Bar: ")
input("You: ")
input("Bar: ")
oneDollor = eval(input("You: How many INR is equal to 1 USD"))
totlaDollorToPay = total_bill/oneDollor
print(f"Bar: Give me {totlaDollorToPay} dollors")

You: how much the bill
Bar: 800
You: I have only USD
Bar: we accept INR only
You: what should we do now
Bar: Lets convert USD to INR
You: How many INR is equal to 1 USD80
Bar: Give me 10.0 dollors

In [13]:
total_bill = eval(input("enter the total bill in inr: "))
oneDollor = eval(input("You: How many INR is equal to 1 USD"))
totlaDollorToPay = total_bill/oneDollor
print(f"Bar: Give me {totlaDollorToPay} dollors")

enter the total bill in inr: 800
You: How many INR is equal to 1 USD80
Bar: Give me 10.0 dollors

In [20]:
import time

print("You: how much the bill")
time.sleep(2)
bill=eval(input("enter the bill"))
time.sleep(2)
print("Bar:",bill)
time.sleep(2)
print("You: I have only USD")
time.sleep(2)
print("Bar: we accept INR only")
time.sleep(2)
print("You: what should we do now")
time.sleep(2)
print("Bar: Lets convert USD to INR")
inr=eval(input("You: How many INR is equal to 1 USD:"))
total=bill/inr
print(f"Bar: Give me {total} dollors")

You: how much the bill
enter the bill800
Bar: 800
You: I have only USD
Bar: we accept INR only
You: what should we do now
Bar: Lets convert USD to INR
You: How many INR is equal to 1 USD:80
Bar: Give me 10.0 dollors

In [18]:
print(f"Bar: Give me {total} dollors")

Bar: Give me 10.0 dollors

In [26]:
print("Bar:",bill)
print("Bar: {}".format(bill))
print(f"Bar: {bill}")

Bar: 800
Bar: 800
Bar: 800

In [27]:
45/4   # 45 division 4 
# It is a normal division

11.25

In [28]:
45%4  # 45 modulus 4

# It will give the reminder

1

In [29]:
45//4 # 45 floor division 4
# it will give the quotient

11

In [ ]:
# Conditional operations
# if-else

$patten-1$:
    
**if**

In [30]:
10>5

True

In [31]:
10<5

False

In [ ]:
whenever it is True do some thing
IF that is True then do some thing

when you enter after :
it will take some space
that space is called indentation

In [ ]:
if <condition>:
    #########
    ########
    #######

In [ ]:
# I want to add a=10
#               b=20
#               a+b
# name='python' only

In [33]:
name='python' # python is stored in a variable name
name=='Python' # we are checking that name equal to python

#'python'=='Python'  False

False

In [47]:
name='python'
if name=='python':
    print("hello")
    
# backspace till :  and then do enter
# use space bar till you avoid the red color
# enter tab
# error name: indentation

hello

In [41]:
if True:
    print("hello")

hello

In [42]:
if False:
    print("hello")

In [44]:
yes=True
if yes:
    print("hello")

hello

In [ ]:
name='python'
if name=='python':
    print("hello")
    
if True:
    print("hello")
    
if False:
    print("hello")
    
yes=True
if yes:
    print("hello")

In [48]:
print(1)
print(2)
##############################
if True:
    print("hello")
    print('hai')
##################################
print("bye")

1
2
hello
hai
bye

In [49]:
print(1)
print(2)
##############################
if False:
    print("hello")
    print('hai')
##################################
print("bye")

1
2
bye

In [50]:
print(1)
print(2)
#######################################
if False:
    print("hello")
    print('hai')
##############################################
print("bye")
################################################
if True:
    print("hello")
    print('hai')

1
2
bye
hello
hai

$pattern-2$

**if-else**

In [52]:
name='python'

if name=='python': #'python'=='Python' if False:
    print("hello")

else:
    print("bye")

hello

In [55]:
10%2==0

True

In [57]:
# wap ask the user enter a number from keyboard
# print if it is even number or odd number

# step-1: num=eval(input("enter"))
# step-2: if <>:
#           print("even")
#step-3: else:
#          print("it is an odd")

num=eval(input("enter the number:"))
if num%2==0:
    print(f"{num} is an even")
else:
    print(f"{num} is an odd")

enter the number:25
25 is an odd