- How to read

- How many ways we can represent

- type

- len

- max

- min

- sorted

- reversed 

- Concatenation

- in

- index

- for loop iteration

- mutable-immutable

- slice

- Methods

In [ ]:
str1=''

In [1]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [2]:
type(l1)

list

In [3]:
l2=['Apple','Banana','Cherry']
l2

['Apple', 'Banana', 'Cherry']

In [4]:
l3=[1,2,3,'A','B','C']
l3

[1, 2, 3, 'A', 'B', 'C']

In [5]:
l4=[1,2,3,'A','B','C',10.5,True,20+30j]
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (20+30j)]

In [6]:
l5=[100,100,100]
l5

[100, 100, 100]

In [7]:
l6=[1,2,3,['A','B','C']]
l6

[1, 2, 3, ['A', 'B', 'C']]

In [ ]:
l1=[1,2,3,4]
l2=['Apple','Banana','Cherry']
l3=[1,2,3,'A','B','C']
l4=[1,2,3,'A','B','C',10.5,True,20+30j]
l5=[100,100,100]
l6=[1,2,3,['A','B','C']]

In [17]:
l8=[_]
l8

[[[[[[[['%', '^']]]]]]]]

In [18]:
l9=[_]
l9

[[[[[[[[['%', '^']]]]]]]]]

- List is array of elements

- That elements can be any data type

- Heterogeneous

- List allows duplicates

- List can extend with any values

- List in List possible

- List of underscore , is nothing but list in list

In [19]:
l1

# len
# max
# min
# sum

[1, 2, 3, 4]

In [23]:
len(l1),max(l1),min(l1),sum(l1)

(4, 4, 1, 10)

In [24]:
l2

['Apple', 'Banana', 'Cherry']

In [27]:
len(l2),max(l2),min(l2)  # sum(l2) error

(3, 'Cherry', 'Apple')

In [28]:
l3

[1, 2, 3, 'A', 'B', 'C']

In [29]:
len(l3), # max  min  sum fail

6

In [30]:
l4

[1, 2, 3, 'A', 'B', 'C', 10.5, True, (20+30j)]

In [31]:
len(l4), # max  min  sum

9

In [32]:
l5

[100, 100, 100]

In [36]:
len(l5),max(l5),min(l5),sum(l5)

(3, 100, 100, 300)

In [37]:
l6

[1, 2, 3, ['A', 'B', 'C']]

In [38]:
len(l6)

4

In [39]:
l66=[[1,2,3],[4,5,6]]
len(l66)

2

In [40]:
l7

[[[[['%', '^']]]]]

$sorted$

In [41]:
sorted(l1)
# By default reverse=False
# which means ascending order

[1, 2, 3, 4]

In [42]:
# If you want to do descending order
# reverse=True
sorted(l1,reverse=True)

[4, 3, 2, 1]

In [43]:
sorted(l2)

['Apple', 'Banana', 'Cherry']

In [44]:
sorted(l2,reverse=True)

['Cherry', 'Banana', 'Apple']

In [45]:
sorted(l3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [46]:
sorted(l3,reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
#list object is not callable ===== magic of python

In [47]:
l5

[100, 100, 100]

$reversed$

In [48]:
l1

[1, 2, 3, 4]

In [50]:
val=reversed(l1)

In [51]:
for i in val:
    print(i)

4
3
2
1

$Concatenation$

In [52]:
l1

[1, 2, 3, 4]

In [53]:
l2

['Apple', 'Banana', 'Cherry']

In [54]:
l1+l2

[1, 2, 3, 4, 'Apple', 'Banana', 'Cherry']

In [55]:
l2+l1

['Apple', 'Banana', 'Cherry', 1, 2, 3, 4]

In [56]:
l1*3  # l1+l1+l1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

$in$

In [57]:
s1='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [59]:
for i in l1:
    print(i)

1
2
3
4

$index$

In [ ]:
-6 -5  -4  -3  -2  -1
p   y   t   h   o   n
0   1   2   3   4   5

In [ ]:
 -3      -2        -1
Apple   Banana   Cherry
0        1        2

In [63]:
l2[0],l2[1],l2[2]

('Apple', 'Banana', 'Cherry')

In [64]:
l2[-3],l2[-2],l2[-1]

('Apple', 'Banana', 'Cherry')

In [67]:
for i in range(len(l2)):
    print(i,l2[i])

0 Apple
1 Banana
2 Cherry

In [ ]:
# Postive index of Apple is 0
# negative index of Apple is -3 
# postive and negative index

In [68]:
l2=['apple','banana','cherry']
for i in range(len(l2)):
    j=i+len(l2)
    print(f'positive and negative  of {l2[i]} is {i} and {j}')

positive and negative  of apple is 0 and 3
positive and negative  of banana is 1 and 4
positive and negative  of cherry is 2 and 5

In [69]:
for i in range(len(l2)):
    print(f" Positive index of {l2[i]} is {i}")
    print(f" Negative index of {l2[i]} is {i-3}")
    print(f" Positive index {i} and Negative index of {l2[i]} is {i-3}")

 Positive index of apple is 0
 Negative index of apple is -3
 Positive index 0 and Negative index of apple is -3
 Positive index of banana is 1
 Negative index of banana is -2
 Positive index 1 and Negative index of banana is -2
 Positive index of cherry is 2
 Negative index of cherry is -1
 Positive index 2 and Negative index of cherry is -1

In [72]:
for i in range(len(l2)):
    print(i,i-3)

0 -3
1 -2
2 -1

$mutable$-$immutable$

In [75]:
l7=[1,2,3,4]
l7[0]=100
l7

[100, 2, 3, 4]

**List are mutable**

**strings are immutable**

$slice$

In [ ]:
list1=[1,2,3,4,5,'A','B','C','D','E',100,200,300,400,'Apple','Banana']
list1[3:14:2]   # P
list1[3:14:-2]  # Np
list1[3:-14:2]  # NP start=3  step=+ last=-14-1=-15
list1[3:-14:-2] # NP ======>  4 
list1[-3:-14:-2] # P
list1[-3:14:2]  # NP =====> 400
list1[-3:-14:2] # Np
list1[::] # P
list1[::-1]# Reverse

In [80]:

-16  -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3    -2     -1
 1,   2,   3,   4,   5,  'A',  'B','C','D','E',100,200,300,400,'Apple','Banana'
 0    1    2    3    4    5     6   7   8   9   10  11  12  13   14      15

(1, 2, 3)

In [1]:
list1=[1,2,3,['A','B']]

# Get the index of 'B'
# Retrive 'B' by using index
len(list1)

4

In [4]:
o1=list1[3]
o1[1]

'B'

In [10]:
list1=[1,2,3,['A','B']]
o1=list1[3]
o1[1]

list1[3][1]

'B'

In [21]:
list2=[['Apple','Banana']]
len(list2)  # 1 means  only 0
list2[0]    # 2  0,1
list2[0][0],list2[0][1]

('Apple', 'Banana')

In [27]:
list3=[['A','B',[1,20]]] 
# one    0
len(list3)
list3[0][2][1]

20

In [31]:
list4=['hyd',['A','B',[1,20]]] 
list4[1][2][1]

20

In [33]:
list5=[['Car']]
list5[0][0]

'Car'

In [36]:
list6=[[['bus']]]
list6[0][0][0]

'bus'

In [45]:
list7=[[[[[[[['cherry',['Apple']]]]]]]]]
list7[0][0][0][0][0][0][0][1][0]

'Apple'

In [47]:
l1=['Hyd','Mumbai','Bhopal','Chennai']
# print the elements which are having len of charcters >5
# idea:  Iterate through list 
#        print each element
#        apply the condition
#        then print the output

for i in l1:
    if len(i)>5:
        print(i)

Mumbai
Bhopal
Chennai

In [48]:
l1=['hyd','mumbai','bhopal','chennai']
# print all uppercases
for i in l1:
    print(i.upper())

HYD
MUMBAI
BHOPAL
CHENNAI

In [50]:
l1=['hyd','mu#mbai','bh#opal','chennai']
# Retrive the elements which are not having '#'
for i in l1:
    if '#' not in i:
        print(i)

hyd
chennai

In [60]:
str1='hello is name my python'
# identify the max len word
# min len of word
# idea: apply split operation : list of words
#       max   min
l1=str1.split()
max(l1,key=len), min(l1,key=len)

('python', 'is')

**iterable**

- if you able to print char or elements using for loop

- list,string,tuple,dic

In [61]:
qns=['Who is PM of india?',
     'what is capital of india?',
     'No of states in india?',
     'who is the captain of ICT']

ans=['modi','delhi',29,'Rohit sharma']

# you need to iterate through qns list
# qn1='who is pm of india'
# ans=input("enter yout answer") rohit

In [64]:
qns_list=['Who is PM of india?',
     'what is capital of india?',
     'No of states in india?',
     'who is the captain of ICT']

ans_list=['modi','delhi','29','Rohit sharma']

marks=0
for i in range(len(qns_list)):
    print(qns_list[i])
    answer=input("enter the answer:")
    if answer.casefold()==ans_list[i].casefold():
        marks=marks+1
        
marks

Who is PM of india?
enter the answer:modi
what is capital of india?
enter the answer:2
No of states in india?
enter the answer:delhi
who is the captain of ICT
enter the answer:rohi

1

In [ ]:
modi

Modi ===== lower
MODI ===== lo
mODi ====

In [ ]:
qns_list=['Who is PM of india?',
     'what is capital of india?',
     'No of states in india?',
     'who is the captain of ICT']

ans_list=['29','delhi','modi','Rohit sharma']

for i in qns:
    ans=
    if ans in ans_list

$Methods$

In [1]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
'append',
'clear',
'copy',
'count',
'extend',
'index',
'insert',
'pop',
'remove',
'reverse',
'sort'

In [2]:
list1=[1,2,3,4]

$Clear$:

In [4]:
list1.clear()
list1

[]

$Copy$

In [6]:
# Intialise the list  l1
# l2=l1.copy()
# l1.clear()
# print(l1),print(l2)
l1=['A','B','C']
l2=l1.copy()
l1.clear()
l1,l2

([], ['A', 'B', 'C'])

$pop$-$remove$-$del$

In [8]:
l1=['A','B','C',1,2,3]
l1

['A', 'B', 'C', 1, 2, 3]

In [9]:
l1.pop() 
# pop will delete the last element by default
# It will return the value

3

In [10]:
l1

['A', 'B', 'C', 1, 2]

In [11]:
l1=['A','B','C',1,2,3,100]
l1.pop()

100

In [12]:
l1

['A', 'B', 'C', 1, 2, 3]

In [13]:
l1=['A','B','C',1,2,3,100]
l1.pop(0)
l1

['B', 'C', 1, 2, 3, 100]

In [14]:
l1=['A','B','C',1,2,3,100]
l1.pop(index=0)
l1

TypeError: list.pop() takes no keyword arguments

In [ ]:
l1.pop()  # Remove the last value index=-1
l1.pop(0) # Remove first element
l1.pop(index=0) # Index=0  error
l1.pop(100) # if 100th index not there: Index error
l1.pop('A') # type error
l1.pop([1,2]) # type error

In [17]:
l1=['A','B','C',1,2,3,100]
l1.pop(-2)

3

In [21]:
l1=['A','B','C',1,2,3,100]
l1.pop([1,2])

# only index
# str   list  tuple dic

TypeError: 'list' object cannot be interpreted as an integer

In [23]:
l1=['A','B','C',1,2,'A',3,100]
l1.remove('A')
l1

['B', 'C', 1, 2, 'A', 3, 100]

In [ ]:
############### Pop ###############################
# manually we are counting the index of element
# that index we are passing through pop
# So that it is remvoing that particular element

# Draw back : we are manually counting
# Draw back we can overcome by using: index

#################### Remove ##################################
# Remove is taking only direct value, no need to provide the index
# Draw back: Second occurence will not consider

$index$

In [28]:
l1=['A','B','C',1,2,3,100,20,300,400,500,'Apple']
# I want to delete  element :3  using pop
#l1.pop(5)
i=l1.index(400)
l1.pop(i)
l1

['A', 'B', 'C', 1, 2, 3, 100, 20, 300, 500, 'Apple']

In [29]:
l1=['A','B','C',1,2,3,100,20,300,'A',400,500,'Apple']
l1.remove('A')
l1

['B', 'C', 1, 2, 3, 100, 20, 300, 'A', 400, 500, 'Apple']

In [36]:
l1=['A','B','C',1,2,'B',3,100,20,300,'A',400,'B',500,'A','Apple']
#l1.pop(<second A>)
# A=0   A=9  A=12
i1=l1.index('B')  # 0
i2=l1.index('B',i1+1)
i3=l1.index('B',i2+1)
print(i1,i2,i3)

1 5 12

In [ ]:
- Clear

- Copy

- Pop

- Remove

- Index

del

In [39]:
l1=['A','B','C',1,2,'B',3,100,20,300,'A',400,'B',500,'A','Apple']
del(l1[5])
l1

['A', 'B', 'C', 1, 2, 3, 100, 20, 300, 'A', 400, 'B', 500, 'A', 'Apple']

$Append$-$Extend$-$Insert$

In [42]:
l1=[100,200]
l1.append(300)
l1.append('Apple')
l1

[100, 200, 300, 'Apple']

In [44]:
l1=[]
l1.append(1)
l1.append(2)
l1.append(3)
l1

[1, 2, 3]

In [46]:
l1=['Hyd','Mumbai','Chennai']
# Print the elemnents which are having len>3
l2=[]
for i in l1:
    if len(i)>3:
        l2.append(i)
l2

['Mumbai', 'Chennai']

In [50]:
l1=['hyd','mumbai','chennai']
# Capitalize and save in a new list
l2=[]
for i in l1:
    l2.append(i.capitalize())
l2

['Hyd', 'Mumbai', 'Chennai']

In [53]:
l1=['hyd','mu#mbai','che#nnai']
# save the elementsn which are having '#'
l2=[]
for i in l1:
    if '#' in i:
        l2.append(i)
l2

['mu#mbai', 'che#nnai']

In [58]:
s='hello hai how are you'
# get the sum of all the indexes of 'a' letter

# iterate it
# Extract the indexes of 'a' 
# and save in a list
# Get the sum of those list
l1=[]
for i in range(len(s)):
    if s[i]=='a':
        l1.append(i)
        
sum(l1)

21

In [59]:
# WAP ask the user get 10 random numbers
# even list   odd list
# append even values in even list
# odd values in odd list

import random
even_list,odd_list=[],[]
for i in range(10):
    num=random.randint(20,80)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
even_list,odd_list

([48, 80, 72], [59, 41, 75, 65, 57, 35, 43])

$Extend$

In [60]:
l1=[1,2,3]
l2=['A','B','C']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 'A', 'B', 'C']
['A', 'B', 'C']

In [61]:
l1=[1,2,3]
l2=['A','B','C']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3]
['A', 'B', 'C', 1, 2, 3]

In [63]:
l1=[1,2,3]
l2=['A','B','C']
print(l1+l2)   #  l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 'A', 'B', 'C']
[1, 2, 3]
['A', 'B', 'C']

In [68]:
l1=[1,2,3]
l2=[1,2,3]
l1.append(l2)
l1

[1, 2, 3, [1, 2, 3]]

In [ ]:
- reverse  vs  reversed

- sort     vs  sorted

In [1]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$count$

In [2]:
l1=['A','A','A']
l1.count('A')

3

In [3]:
s1='can can you canner can not can you buy can'

In [6]:
l=s1.split()
l

['can', 'can', 'you', 'canner', 'can', 'not', 'can', 'you', 'buy', 'can']

In [10]:
l1=[]
for word in l:
    if word not in l1:
        print(word,":",l.count(word))
        l1.append(word)

can : 5
you : 2
canner : 1
not : 1
buy : 1

$word$-$frequency$

In [13]:
s1='can can you canner can not can you buy can'
list_words=s1.split()
l1=[]
for word in list_words:
    if word not in l1:  
        print(word,list_words.count(word))
        l1.append(word)
        
# step1
# can    can not in []        True  5  ['can']
# can    can not in ['can']   False   xxxxxxxx
# you    you not in ['can']   True  2  ['can','you']

can 5
can 5
you 2
canner 1
can 5
not 1
can 5
you 2
buy 1
can 5

$Insert$

In [15]:
l1=[1,2,3,4,100]
l1.insert(3,'A')  
l1
# 1  2  3  'A'  4  100

[1, 2, 3, 'A', 4, 100]

$Append$

In [17]:
l1=['hyd','Mumbai','Chennai','Bengaluru']
# l2=['Mumbai','Chennai','Bengaluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)

In [19]:
# create the list of squares of 1 to 10 numbers
num=[]
for i in range(1,11):
    num.append(i*i)
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

$List$-$Comprehenshion$

$pattern-1$

In [ ]:
num=[]
for i in range(1,11):
    num.append(i*i)
num

In [ ]:
num=[<output> <forloop with out :>]

In [20]:
num=[i*i for i in range(1,11)]
num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
# l1=['hyd','mumbai']
# l2=[]
# for i in l1:
#     l2.append(i.capitalize())
 
l1=['hyd','mumbai']
l2=[i.capitalize() for i in l1]
l2

['Hyd', 'Mumbai']

$Pattern-2$

**for and if condition**

In [ ]:
l1=['hyd','Mumbai','Chennai','Bengaluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)

In [ ]:
l2=[<output> <forloop> <if condition>]

In [23]:
l1=['hyd','Mumbai','Chennai','Bengaluru']
l2=[i for i in l1 if len(i)>5]
l2

['Mumbai', 'Chennai', 'Bengaluru']

$Pattern-3$:

**for-if-else**

In [26]:
#num=[<output> <forloop>]
#l2=[<output> <forloop> <if condition>]

l=[]
for i in range(1,10):
    if i%2==0:
        l.append(f'even {i}')
    else:
        l.append(f'odd {i}')
l


[<if_output> <if condition> else <else_ouput> <forloop>]

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [27]:
[f'even {i}' if i%2==0  else f'odd {i}' for i in range(1,10)]

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [ ]:
Strings
List
Sat sunday === Tuple

In [ ]:
- how to read the tuple

- different ways to read tuple

- type len max min sum reversed sorted

- concatenation

- in

- index

- difference between in and index range using for loop

- mutable imputable

- slice

- methods

In [28]:
t1=(1,2,3)
type(t1)

tuple

In [29]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']