In [ ]:
- Lambda functions is also a kind of functions represenatation

- More efficient way

In [1]:
def summ(num):
    return(num+10)

summ(10)

# The function name is summ
# the variable name is num
# the return output is num+10

20

In [ ]:
<function_name>=lambda <variable_name>:<return output>

In [2]:
summ=lambda num:num+10
summ(20)

30

In [4]:
def cube(num):
    return(num*num*num)

cube(10)

1000

In [5]:
cube=lambda num : num*num*num
cube(20)

8000

**Two arguments**

In [7]:
def add(n1,n2):
    return(n1+n2)
add(100,200)

300

In [ ]:
<function_name>=lambda <var1>,<var2>:<return output>

In [8]:
add=lambda n1,n2 : n1+n2
add(10,20)

30

In [12]:
mul=lambda n1,n2 :n1*n2
mul(10,20)

200

In [13]:
def avg(n1,n2,n3):
    return((n1+n2+n3)/3)
avg(100,200,300)

200.0

In [14]:
avg=lambda n1,n2,n3 :(n1+n2+n3)/3
avg(10,20,30)

20.0

In [15]:
def avg(n1,n2,n3=300):
    return((n1+n2+n3)/3)
avg(100,200)

200.0

In [16]:
avg=lambda n1,n2,n3=30 :(n1+n2+n3)/3
avg(10,20)

20.0

$if-else$

In [17]:
def Max(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
    
Max(100,200)

200

In [ ]:
lambda <v1,v2,v3...>: <output>

if -else we need to write in a single

[<if_output> <if_con> else <else_ouput>]


<function_name>=lambda <var1,var2>:<if_output> <if_con> else <else_ouput>

In [18]:
Max=lambda n1,n2: n1 if n1>n2 else n2
Max(100,200)

200

In [21]:
list1=['hyd','mumbai','chennai']
# list2=['Hyd','Mumbai','Chennai']
##################################################
list2=[]
for i in list1:
    list2.append(i.capitalize())
    
#######################################################    
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Mumbai', 'Chennai']

$map$

In [ ]:
list(map(lambda <variable>:<output>,<iterator>))

In [31]:
list1=['hyd','mumbai','chennai']
list(map(lambda i : i.capitalize(),list1))   # list(map(a,b))

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
list1=['hyd','mumbai','chennai']
# list2=['Hyd','Mumbai','Chennai']
##################################################
list2=[]
for i in list1:
    list2.append(i.capitalize())
    
#######################################################    
list2=[i.capitalize() for i in list1]
list2
###################################################
list1=['hyd','mumbai','chennai']
list2=list(map(lambda i : i.capitalize(),list1))

In [34]:
l1=[1,2,3,4]
#l2=[1,4,9,16]

list(map(lambda i: i*i,l1))

[1, 4, 9, 16]

In [37]:
l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
# l2=['hyder#abad','Mum#bai','Chenn#ai']
###################################################
l2=[]
for i in l1:
    if '#' in i:
        l2.append(i)
l2

######################################################
l2=[i for i in l1 if '#' in i]
l2

['hyder#abad', 'Mum#bai', 'Chenn#ai']

$filter$

In [45]:
l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
list(map(lambda i : '#' in i,l1))

[True, True, True, False, False]

In [46]:
l1=['hyder#abad','Mum#bai','Chenn#ai','Blr','pune']
list(filter(lambda i : '#' in i,l1))

['hyder#abad', 'Mum#bai', 'Chenn#ai']

In [ ]:
map means map the input values to output
                   i               i*i
                   i               i.capitalize()
                   i               '#' in i (T/F)