In [ ]:
# In python we have some basic data types

- integer-int

- float-float

- string-str

- boolean-bool

- complex-complex

$integer$

In [1]:
number=10
number

10

In [2]:
type(number)

int

- binary 

- octa

- hexa

$binary$

- bi mean two 

- it required only two digits

- we have 0 1 2 3 4 5 6 7 8 9

- to make binary we need only 0 and 1

- example: 0b111, 0B111

In [3]:
0b111

7

In [ ]:
4 2 1
0 0 0   0
0 0 1   1
0 1 0   2
0 1 1   3
1 0 0   4
1 0 1   5
1 1 0   6
1 1 1   7

In [4]:
0b1111

15

$Octa$

- octa mean eight 

- it required only 8 digits

- we have 0 1 2 3 4 5 6 7 8 9

- to make binary we need only 0 1 2 3 4 5 6 7

- example: 0o776, 0O1234

In [5]:
0o123

83

$hexa$

- hexa mean 16 

- it required only 0 to 9 and A to F

- we have 0 1 2 3 4 5 6 7 8 9 A B C D E F

- example: 0x7A2, 0Xabc

In [8]:
0x6a1

# 16^0*1+16^1*(10)+16^2(6)

1697

$float$

In [11]:
number=10.56
type(number)

float

In [12]:
10e+1  
# 10 is multilpying with  e1=10

100.0

In [13]:
10e+2
# 10 is multiplying with e2=100

1000.0

In [14]:
10e+3
# 10 is multiplying with e3=1000

10000.0

In [15]:
123.65e3  
# 123.65x1000= 123650

123650.0

In [16]:
10e-1   # 10/10
10e-2   # 10/100
10e-3   # 10/1000
10e-4   # 10/10000
10e+5   # 10*100000
12345e-2 # 12345/100=123.45

123.45

In [17]:
12345e-10  
# check the output is zero

1.2345e-06

- 10e2  as same as 10e+2  multiplying

- 10e-2 means dividing

$string$

In [ ]:
integer  # variables 
int      # keyword
"integer" # string

In [21]:
name="python"
name

'python'

In [22]:
type(name)

str

In [24]:
name1='hyderabad'
type(name1)

str

In [26]:
'python'

'python'

In [29]:
print("hello 'python'")

hello 'python'

In [32]:
print('hello "python"')

hello "python"

- triple quotes are used to write a story of a specific part of code

- Doc string

- if some body using triple quote means

- the user try to say some thing about that code

In [33]:
"""
i have performed addition operation
here i have taken a value as 10 and b value as 20
"""
a=10
b=20
c=a+b
c

30

In [34]:
"hello"+"python"

'hellopython'

In [36]:
'hello'+'python'

'hellopython'

In [37]:
"""hello"""+"""python"""

'hellopython'

In [38]:
import random

In [ ]:
random.randint()

In [ ]:
# int
# float
# str

$boolean$

In [39]:
value=True
type(value)

bool

In [40]:
value1=False
type(value1)

bool

In [42]:
value2="True"
type(value2)

str

In [45]:
true=100
value3=true1 
value3

NameError: name 'true1' is not defined

In [ ]:
#NameError: name 'true1' is not defined
    
#in the above lines check the name true1 is there or not

In [47]:
true1=500

In [48]:
name=true1

$Complex$

- It represent as a+bj

- where a is real number

- b is an imagiznary number

- ex:  3+4j

In [49]:
value=3+4j
type(value)

complex

In [50]:
dir(value)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [ ]:
# value is kind of package
# m-1: conjugate
# m-2: imag
# m-3:real

In [ ]:
#<package name>.<method name>

In [55]:
value=3+4j
dir(value)
# conjugate imag  real
value.conjugate()

(3-4j)

In [56]:
value.real  # real number

3.0

In [57]:
value.imag  # imaginary numbr

4.0

In [60]:
value.imag  # use tab

AttributeError: 'complex' object has no attribute 'img'

In [59]:
dir(value)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

- syntax error ===== avoid

- Name error: variable is not defined

- Attribute error : module is not avialble

- integer ==== int

- float  ===== float

- string ==== str

- boolean === bool

- complex === complex